@import "../../../../styles/theme/index.scss";

.my-todo {
  background-color: $color-bg-card;
  border-radius: 18rpx;
  padding: 32rpx;

  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24rpx;

    .title {
      font-size: 32rpx;
      font-weight: 900;
      color: $color-text-body;
    }
  }

  .todo-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1rpx solid $color-border-info;
    border-radius: 16rpx;
    background-color: $color-input-bg;
    padding: 24rpx;

    .entry-content {
      display: flex;
      flex-direction: column;
      gap: 8rpx;
    }

    .entry-title {
      font-size: 30rpx;
      font-weight: 700;
      color: $color-text-body;
    }

    .entry-desc {
      font-size: 24rpx;
      color: $color-text-soft;
    }

    .entry-arrow {
      font-size: 34rpx;
      font-weight: 700;
      color: $color-primary-light;
      line-height: 1;
    }
  }
}
