.my-todo {
  background-color: #fff;
  border-radius: 18rpx;
  padding: 32rpx;

  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24rpx;

    .title {
      font-size: 32rpx;
      font-weight: 900;
      color: #333;
    }
  }

  .todo-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1rpx solid #dbe7ff;
    border-radius: 16rpx;
    background-color: #f5f8ff;
    padding: 24rpx;

    .entry-content {
      display: flex;
      flex-direction: column;
      gap: 8rpx;
    }

    .entry-title {
      font-size: 30rpx;
      font-weight: 700;
      color: #333;
    }

    .entry-desc {
      font-size: 24rpx;
      color: #8a8a8a;
    }

    .entry-arrow {
      font-size: 34rpx;
      font-weight: 700;
      color: #3a7afe;
      line-height: 1;
    }
  }
}
