.my-todo {
  background-color: #fff;
  border-radius: 18rpx;
  padding: 32rpx;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24rpx;

    .title {
      font-size: 32rpx;
      font-weight: 900;
      color: #333;
    }

    .more {
      font-size: 24rpx;
      color: #999;
    }
  }

  .todo-list {
    .todo-item {
      display: flex;
      padding: 24rpx 0;
      border-bottom: 1rpx solid #f5f5f5;

      &:last-child {
        border-bottom: none;
      }

      .left-bar {
        width: 6rpx;
        background-color: #3a7afe;
        border-radius: 3rpx;
        margin-right: 24rpx;
      }

      .content {
        flex: 1;

        .top-row {
          display: flex;
          align-items: center;
          margin-bottom: 12rpx;

          .task-name {
            font-size: 30rpx;
            font-weight: 600;
            color: #333;
            margin-right: 16rpx;
          }

          .badge {
            font-size: 20rpx;
            padding: 4rpx 12rpx;
            border-radius: 4rpx;
            margin-right: auto;

            &:nth-child(2) {
              background-color: #ffeded;
              color: #ff4d4f;
            }
          }

          .count {
            font-size: 48rpx;
            font-weight: 900;
            color: #3a7afe;
          }
        }

        .bottom-row {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .completed {
            font-size: 24rpx;
            color: #999;
          }

          .type {
            font-size: 24rpx;
            color: #666;
          }
        }
      }
    }
  }
}
