@import "../../styles/theme/index.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 32rpx;

  .item {
    background-color: $color-bg-card;
    padding: 32rpx;

    .title {
      padding-bottom: 16rpx;
      border-bottom: 1px solid $color-bg-page;
      position: relative;
      padding-left: 24rpx;
      display: flex;
      align-items: center;

      &::before {
        content: "";
        width: 6rpx;
        height: 70%;
        background-color: $color-primary;
        position: absolute;
        left: 0;
      }
    }

    .childrens {
      display: flex;
      flex-wrap: wrap;
      padding: 24rpx 0;

      .item {
        width: 25%;
        font-size: 24rpx;
        display: flex;
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;

        .icon {
          width: 50%;
          aspect-ratio: 1/1;
          background-color: $color-info-bg;
          margin-bottom: 12rpx;
          border-radius: 16rpx;
        }
      }
    }
  }
}
