@import "../../../../styles/theme/index.scss";

.project-overview {
  background-color: $color-bg-card;
  border-radius: 18rpx;
  padding: 32rpx;

  .title {
    margin-bottom: 24rpx;
    font-size: 32rpx;
    font-weight: 900;
    color: $color-text-body;
  }

  .po-content {
    display: flex;
    align-items: center;
    position: relative;

    .chart-container {
      flex-shrink: 0;
      position: relative;
      width: 240rpx;
      height: 240rpx;

      .chart-wrapper {
        position: relative;
        width: 100%;
        height: 100%;

        .chart-center {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          z-index: 10;

          .rate {
            font-size: 48rpx;
            font-weight: 900;
            color: $color-text-body;
            line-height: 1.2;
          }

          .label {
            font-size: 24rpx;
            color: $color-text-muted;
            margin-top: 8rpx;
          }
        }

        .ec-canvas {
          width: 100%;
          height: 100%;
        }
      }
    }

    .stats-container {
      flex: 1;
      margin-left: 48rpx;
      display: flex;
      flex-direction: column;
      gap: 24rpx;

      .stat-item {
        display: flex;
        align-items: center;

        .dot {
          width: 16rpx;
          height: 16rpx;
          border-radius: 50%;
          margin-right: 16rpx;

          &.abnormal {
            background-color: $color-chart-danger;
          }

          &.normal {
            background-color: $color-chart-success;
          }

          &.position {
            background-color: $color-chart-warning;
          }
        }

        .stat-label {
          font-size: 28rpx;
          color: $color-text-sub;
          margin-right: 16rpx;
        }

        .stat-value {
          font-size: 32rpx;
          font-weight: 700;
          color: $color-text-body;
        }
      }
    }

    .arrow-icon {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 32rpx;
      color: $color-text-muted;
    }
  }
}
