@import "../../styles/theme/index.scss";

.login-page {
  min-height: 100vh;
  background: $color-bg-page;
}

.top-area-blue {
  background: $color-primary;
  border-radius: 0 0 $radius-xl $radius-xl;
  padding: 96rpx 48rpx 220rpx;
}

.brand {
  font-size: 48rpx;
  font-weight: 700;
  color: $color-bg-card;
}

.brand-desc {
  margin-top: 16rpx;
  font-size: 28rpx;
  color: $color-white-alpha-92;
  line-height: 1.6;
}

.login-card {
  margin: -150rpx 32rpx 0;
  background: $color-bg-card;
  border-radius: $radius-lg;
  padding: 44rpx 32rpx 40rpx;
  box-shadow: $shadow-floating-card;
}

.card-title {
  position: relative;
  padding-left: 18rpx;
  font-size: 36rpx;
  font-weight: 600;
  color: $color-text-main;
}

.card-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10rpx;
  width: 6rpx;
  height: 30rpx;
  border-radius: $radius-xs;
  background: $color-primary;
}

.subtitle {
  margin-top: 12rpx;
  margin-bottom: 30rpx;
  font-size: 28rpx;
  color: $color-text-weak;
}

.field {
  margin-top: 22rpx;
}

.label {
  display: block;
  margin-bottom: 12rpx;
  font-size: 24rpx;
  color: $color-text-weak;
}

.input {
  height: 88rpx;
  padding: 0 24rpx;
  border-radius: $radius-sm;
  border: 1px solid $color-border-input;
  font-size: 30rpx;
  color: $color-text-main;
  box-sizing: border-box;
  background: $color-input-bg;
}

.submit-btn {
  margin-top: 40rpx;
  height: 88rpx;
  line-height: 88rpx;
  border-radius: $radius-sm;
  background: $color-primary;
  color: $color-bg-card;
  font-size: 30rpx;
  font-weight: 600;
}

.submit-btn::after {
  border: none;
}
