@import "../../styles/theme/index.scss";

.casual-shoot-record-list {
  .record-item {
    border: 1rpx solid $color-border-base;
    border-radius: $radius-md;
    padding: 20rpx;
    margin-bottom: 16rpx;
    background-color: $color-bg-card;

    &:last-child {
      margin-bottom: 0;
    }

    .record-header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 12rpx;
      margin-bottom: 12rpx;
    }

    .record-title {
      flex: 1;
      font-size: 28rpx;
      color: $color-text-body;
      line-height: 1.5;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .state-tag {
      flex-shrink: 0;
      height: 38rpx;
      line-height: 38rpx;
      border-radius: 999rpx;
      padding: 0 14rpx;
      font-size: 22rpx;
      font-weight: 600;

      &.is-pending {
        color: $color-danger;
        background-color: $color-danger-bg-soft;
      }

      &.is-done {
        color: $color-success-deep;
        background-color: $color-success-bg-soft;
      }

      &.is-unknown {
        color: $color-text-sub;
        background-color: $color-bg-page-alt;
      }
    }

    .record-date {
      margin-bottom: 0;
      font-size: 22rpx;
      color: $color-text-muted;

      &.has-images {
        margin-bottom: 12rpx;
      }
    }

    .record-images {
      display: flex;
      flex-wrap: wrap;
      gap: 10rpx;

      .record-image {
        width: 140rpx;
        height: 140rpx;
        border-radius: 8rpx;
        flex-shrink: 0;
        background-color: $color-bg-page-alt;
      }
    }
  }
}
